<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.4/tailwind.min.css">

</head>
<body>
    <div class="bg-gray-100">
    <nav class="p-3 bg-red-500 flex justify-between">
        <h1 class="text-white font-semibold">Text Recognition</h1>
        <ul text>
        <li class="text-white "><a href = "/about">About</a></li>
        </ul>
    </nav>

    <div class="container mx-auto">
        <h3 class="text-4xl">About The project</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis id iusto eligendi rem laudantium assumenda ex quo consequatur natus nam dolores ut officiis laboriosam, sint vitae blanditiis, temporibus culpa ducimus!</p>
    </div>
    </div>
</body>
</html>